[Unit]
Description=stepik
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/city25club
ExecStart=/root/your_dir/venv/bin/python3 /root/you_dir/main.py
Restart=always

[Install]
WantedBy=multi-user.target
